*{
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/032/943/390/small/modern-classroom-empty-chairs-waiting-for-students-free-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}